<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>offlinesociety</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">

        {# Facebook Open Graph Tags #}
        <meta property="og:title" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:url" content="" />
        <meta property="og:description" content="" />
        <meta property="fb:app_id" content="">
        <meta property="og:type" content="website" />
        <meta property="og:image" content="" />

        {# Twitter Summary Card with Large Image tags #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="">
        <meta name="twitter:creator" content="">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">

        {# Fonts#}
        <script src="https://use.typekit.net/qhs2xrr.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        {# loadCSS #}
        <link rel="stylesheet" href="static/css/app.css">

         <!-- Drop themes -->
        <link rel="stylesheet" href="http://github.hubspot.com/drop/dist/css/drop-theme-basic.css" />
        <link rel="stylesheet" href="http://github.hubspot.com/drop/dist/css/drop-theme-arrows-bounce-dark.css" />
        <link rel="stylesheet" href="http://github.hubspot.com/drop/dist/css/drop-theme-hubspot-popovers.css" />

        <!-- Example themes -->
        <link rel="stylesheet" href="http://github.hubspot.com/drop/docs/welcome/examples/social-sharing/css/drop-example-theme-social-sharing.css" />
        <link rel="stylesheet" type="text/css" href="http://photoswipe.s3.amazonaws.com/pswp/dist/photoswipe.css" />
        <link rel="stylesheet" type="text/css" href="http://photoswipe.s3.amazonaws.com/pswp/dist/default-skin/default-skin.css" />

        {# App javascripts #}
    </head>


    <body>
        {% block body %}
            {# Site Header #}
            {% block header %}
            {% include "_header.html" %}
            {% endblock %}

        {# Page Body #}
            <div class="content-wrapper animatedWrapper">
            {% block content %}
            {% endblock %}
            </div>


        {% block special_content %}
        {% endblock %}

        {% endblock %}

        {% include "_footer.html" %}

        <div class="Overlay zIndex-Overlay" id="join-us">
            <div class="js-signin-modal Overlay-modalContainer concealed" id="signin">
                <div class="display-table width-100 height-100">
                    <div class="display-tableCell verticalAlign-middle padding-m">
                      <div class="modal modal--s text-align-center">
                      <i class="icon--close-circle modal-close js-overlay-close"></i>
                      <img class="p-b" src="static/img/beaker_placeholder.svg">
                        <h1>Become a member to curate your guestlist</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem  ut labore et dolore magna aliqua.</p>

                        <a class="btn m-b btn-primary btn-facebook" href="join.html">Join with Facebook</a>
                        <a class="special-link full-width">What is Membership?</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Overlay zIndex-Overlay" id="login">
            <div class="js-signin-modal Overlay-modalContainer concealed">
                <div class="display-table width-100 height-100">
                    <div class="display-tableCell verticalAlign-middle padding-m">
                      <div class="modal modal--s text-align-center">
                      <i class="icon--close-circle modal-close js-overlay-close"></i>
                      <img class="p-b" src="static/img/beaker_placeholder.svg">
                        <h1>Good to see you again!</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tem  ut labore et dolore magna aliqua.</p>

                        <a class="btn m-b btn-primary btn-facebook">Login with Facebook</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>


        {# Page specific JS #}
        {% block javascripts %}
        {% endblock %}

        {# Structured Data for Logo and Social Profile Links #}
         <script src="http://github.hubspot.com/drop/bower_components/tether/dist/js/tether.js"></script>
         <script src="http://github.hubspot.com/drop/dist/js/drop.js"></script>
         <script src="http://photoswipe.s3-eu-west-1.amazonaws.com/pswp/dist/photoswipe.min.js"></script>
        <script src="http://photoswipe.s3-eu-west-1.amazonaws.com/pswp/dist/photoswipe-ui-default.min.js"></script>
         <script src="static/js/app.js"></script>
         <Script>


         </Script>
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "name": "",
                "url": "",
                "logo": "",
                "sameAs": [
                    {# "http://www.facebook.com/", #}
                    {# "http://instagram.com/", #}
                    {# "http://www.twitter.com/", #}
                    {# "http://plus.google.com/" #}
                    {# "http://youtube.com/" #}
                ]
            }
        </script>
    </body>
</html>
