{#
Matches
----------------
These are the matches for the thing
#}

{# Base Template #}
{% set activeMenu = 'curation' %}
{% extends '_base.html' %}

{# Data #}
{% set matches = [
    {
        'id': 459,
        'first_name': 'John',
        'last_name': 'Smith',
        'avatar': 'https://randomuser.me/api/portraits/men/32.jpg',
        'age': 27,
        'words': 'Bold | Adventurous | Intelligent'
    },
    {
        'id': 459,
        'first_name': 'John',
        'last_name': 'Smith',
        'avatar': 'https://randomuser.me/api/portraits/men/39.jpg',
        'age': 27,
        'words': 'Bold | Adventurous | Intelligent'
    },
    {
        'id': 459,
        'first_name': 'John',
        'last_name': 'Smith',
        'avatar': 'https://randomuser.me/api/portraits/men/85.jpg',
        'age': 27,
        'words': 'Bold | Adventurous | Intelligent'
    },
    {
        'id': 459,
        'first_name': 'John',
        'last_name': 'Smith',
        'avatar': 'https://randomuser.me/api/portraits/men/17.jpg',
        'age': 27,
        'words': 'Bold | Adventurous | Intelligent'
    },
    {
        'id': 459,
        'first_name': 'John',
        'last_name': 'Smith',
        'avatar': 'https://randomuser.me/api/portraits/men/77.jpg',
        'age': 27,
        'words': 'Bold | Adventurous | Intelligent'
    }
] %}

{# Page Content #}
{% block content %}
<h1 class="matches-title">Build your guestlist for Offline Society events</h1>
    {% set matchCount = 1 %}
    <h6 class="matches-subtitle center" style="color:#7d7d7d;opacity:.8">At an event I'd like to bump into...</h6>
    <div class="matches" id="js-matches">
       <div class="match match-center"><div class="match-wrapper"><img src="static/img/beaker_placeholder.svg"></div></div>
    {% for match in matches %}
        <div class="match match-{{matchCount}}" id="match_{{match.id}}">
            <div class="match-wrapper" id="matchWrapper_{{matchCount}}">
                <img class="match-avatar" src="{{match.avatar}}">
                <div class="match-details">
                    <div class="match-primaryDetails">
                        <span class="match-firstName">{{match.first_name}}</span>
                        <span class="match-age">(Age {{match.age}})</span>
                    </div>
                    <div class="match-actions">
                        <span class="btn match-action match-actionNo js-match-click" data-matchnum="{{matchCount}}" data-action="no" data-user="" data-match="{{match.id}}">No</span>
                        <a class="btn match-action match-actionYes js-match-click" data-matchnum="{{matchCount}}" data-action="no" data-user="" data-match="{{match.id}}">Yes</a>
                    </div>
                </div>
            </div>
        </div>
        {% set matchCount = matchCount + 1 %}
    {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
{{ super() }}
<script>
    console.log('Hello, index');
</script>
{% endblock %}
