
// all dropdown targets
.drop-target {
    cursor: pointer;
}

// fancy text drop
.drop-fancyText {
     display: inline-block;
    padding-bottom: 4px;
    border-bottom: 2px dotted $red-gray;
    margin-right: .5rem;
    color: $red;

    @include icon(navigate-down, after);

    &:after {
        font-size: 1.25rem;
        padding-left: .5rem;
        color: $red;
    }

    &:hover {
        color: $red;
    }
}

.drop-list li {
    list-style: none;
}

.drop-list-item {
    color: $white;
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding-bottom: .5rem;
    padding-top: .5rem;
    display: block;
}

.drop-list-item-active {
    @include icon(check,after);

    &:after {
        font-size: 70%;

        color: $red;
        margin-left: 10px;
        position: relative;
        top: 2px;
    }
}
