
// all dropdown targets
.drop-target {
    cursor: pointer;
}

// fancy text drop
.drop-fancyText {
     display: inline-block;
    padding-bottom: 4px;
    border-bottom: 2px dotted $red-gray;
    margin-right: .5rem;
    color: $red;

    @include icon(navigate-down, after);

    &:after {
        font-size: 1.25rem;
        padding-left: .5rem;
        color: $red;
    }

    &:hover {
        color: $red;
    }
}

.drop-list li {
    list-style: none;
}

.drop-list-item {
    color: $dark-gray;
    border-bottom: 1px solid rgba(0,0,0,.04);
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-left: .5rem;
    display: block;
}

.drop-list-item-active {
    @include icon(check,after);

    &:after {
        font-size: 70%;

        color: $red;
        margin-left: 10px;
        position: relative;
        top: 2px;
    }
}

.drop-content {
    // override the default styles
    box-shadow: 0 0px 40px rgba(0,0,0,.2) !important;
    margin-top: 1.5rem !important;
    background: #fff !important;
    color: #000 !important;

    &::before {
        border-bottom-color: #fff !important;
    }
}
