/* =================================================================
                             LOGIN SCREEN
====================================================================  */

.login {
  background: #fff;
  margin: 0 auto;
  max-width: 400px;
}

#login {
  padding: 5% 0 0;
    -webkit-animation: fadeDown 0.5s ease-out; /* Safari 4+ */
  -moz-animation:    fadeDown 0.5s ease-out; /* Fx 5+ */
  -o-animation:      fadeDown 0.5s ease-out; /* Opera 12+ */
  animation:         fadeDown 0.5s ease-out; /* IE 10+, Fx 29+ */
}

.login h1 a {
  display: block;
  background-image: url('../img/logo.png');
  background-size: 171px 112px;
  width: 171px;
  height: 112px;
  background-position: center top;
  background-repeat: no-repeat;
  font-size: 20px;
  line-height: 1.3em;
  margin: 0 auto 25px;
  padding: 0;
  text-decoration: none;
  text-indent: -9999px;
  outline: 0;

  @media screen and (min-width:768px) {
      background-size: 264px 160px;
      width: 264px;
      height: 160px;
  }
}

.login--exit a {
  display: block;
  font-size: 1.75rem;
  padding-top: 1rem;
  padding-right: 1rem;
  color: $black;
}

.login--actions {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.login--or {
  //width: 100%;
  text-align: center;
  border-bottom: 2px dotted $gray;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;

  span {
    border: 2px dotted $gray;
    background: $white;
    padding: .5rem;
    border-radius: 50%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: $red-gray;
   position: relative;
   top: 1rem;
  }
}

.login--facebook {
  //border: 2px solid $gray;
  color: #3b5998 !important;;
  width: 100%;
  background-color: transparent !important;
  border: 0 !important;
}

.login--action {
  width: 100%;
}

.login--forgotInstructions {
  margin-top: 3.5rem;
  padding-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  //border-top: 2px dotted $gray;
  text-align: center;
}
