/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* apply a natural box layout model to all elements, but allowing components to change */
html,body {
  box-sizing: border-box;
  margin:0;
  padding:0;
  height:100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.page-wrapper {
  min-height:100%;
  position:relative;
}

.container {
    @include grid-container;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.span-50 {
    @include span(50);
}

.logo-block h1 a {
  display: block;
  background-image: url('../img/logo.png');
  background-size: 171px 112px;
  width: 171px;
  height: 112px;
  background-position: center top;
  background-repeat: no-repeat;
  font-size: 20px;
  line-height: 1.3em;
  margin: 0 auto 25px;
  padding: 0;
  text-decoration: none;
  text-indent: -9999px;
  outline: 0;

  @media screen and (min-width:768px) {
      background-size: 264px 160px;
      width: 264px;
      height: 160px;
  }
}

.drop-content-hider {
 display: none;
}
