// ==========================
//
// Positioning
//
// ==========================


// Floats
// ===
//
.right {
  float: right !important;
}

.left {
  float: left !important;
}

// Fixed Positioning
// ===
//
.pos-f-t {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: z(modal);
}

.pos-f-b {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: z(modal);
}

.pos-f-r {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: z(modal);
}

.pos-f-l {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: z(modal);
}

.full-width {
  width: 100% !important;
}
